/*links*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* body */
html {
    scroll-behavior: smooth;
  }
body{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
/*Main Content*/
.main-container{
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
}
/* Main content media query start*/
@media screen and (min-width: 900px){
    .main-left{
        background-color:#9C51FF;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 15%;
        min-height: 100vh;
    }
    .main-center{
        background-color:#6132A0;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 70%;
    }
    .main-right{
        background-color:#9C51FF;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 15%;
        min-height: 100vh;
    }
}
@media screen and (max-width: 899px){
    .main-left{
        background-color:#9C51FF;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 0%;
        min-height: 100vh;
    }
    .main-center{
        background-color:#6132A0;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 100%;
    }
    .main-right{
        background-color:#9C51FF;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 0%;
        min-height: 100vh;
    }
}
/* Main content media query End*/
/*Navbar*/
.navbar-container{
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
}
.navbar-center{
    background-color:#4C0CA0;
    height:6rem;
    padding: 0px;
    border: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: left;
}
.logo{
    border-radius:100%;
    height: 75px;
    margin-left: 20px;
}
.name{
    margin-left: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: #160033;
}
.nav-left-container{
    display:flex;
    align-self:center;
    align-items:center;
}
.nav-right-container
{
    display: flex;
    justify-self: end;  
    margin-left: auto;
    margin-right: 20px;
    font-size: 25px;
    font-family: "Abel", sans-serif;
}
.nav-button{
    margin-left:5px;
    margin-right:5px;
    font-size: 25px;
    font-family: "Abel", sans-serif;
    color:#160033;
    text-decoration: none; 
}
.nav-button:hover{
    color: white;
}
/* navbar media query start*/
@media screen and (min-width: 900px){
    .navbar-left{
        background-color:#7A14FF;
        height:6rem;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 15%;
    }
    .navbar-center{
        width: 70%;
    }
    .navbar-right{
        background-color:#7A14FF;
        height:6rem;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 15%;
    }
}

@media screen and (max-width: 899px){
    .navbar-left{
        background-color:#7A14FF;
        height:6rem;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 0%;
    }
    .navbar-center{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .navbar-right{
        background-color:#7A14FF;
        height:6rem;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 0%;
    }
    .nav-left-container{
        padding: 0px;
        border: 0px;
        margin: 0px;
    }
    .nav-right-container{
        align-items:center;
        padding: 0px;
        border: 0px;
        margin: 0px;
    }
    h1{
        padding: 5px;
        border: 5px;
        margin: 5px;
    }
}
/* navbar media query end*/

/*Content Container*/
.content-container {
    display: flex;
    font-family: "Abel", sans-serif;
    font-size:3vh;
    color: #160033;
}
.about {
    grid-area: menu;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:70%;
}
.self-portrait {
    grid-area: main;
    align-self: center;
    border-radius: 15%;
    margin: 50px;
    width:30%;
    height:auto;
}
.text-body{
    margin-top:0px;
    font-size: 4vh;
}
.projects{
    display:flex;
}
.project-container{
    background-color:#4C0CA0;
    width:30%;
    height:0;
    padding-bottom:30%;
    margin:auto;
    margin-bottom:50px;
    border-radius:15%;
}
.stack-container{
    display:inline-flex;
    justify-content:center;
    margin-bottom:25px;
    flex-wrap: wrap;
}
.stack{
    background-color:#4C0CA0;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:25px;
    margin:5px;
    float: left;
}
@media screen and (max-width: 899px){
    .content-container{
        flex-direction:column;
    }
    .about{
        width: 100%
    }
    .self-portrait{
        width: 70%;
    }
    .projects{
        flex-direction:column;
    }
    .project-container{
        width: 70%;
        padding-bottom:70%;
    }
}
.footer-center{
    height:25px;
    background-color:#4C0CA0;
    margin-top:25px;
}
.footer-left{
    height:25px;
    background-color:#7A14FF;
    width:100%;
}
.footer-center{
    width:100%;
}
.footer-right{
    height:25px;
    background-color:#7A14FF;
    width:100%;
}