/*links*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* body */
:root {
    --headerSideColor: #3C0A82;
    --headerMidColor: #250651;
    --bodySideColor: #9C51FF; 
    --bodyMidColor: #6132A0;
    --navBarTextColor: white;
    --textColor: #160033;
}
html {
    scroll-behavior: smooth;
  }
body{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
/*Main Content*/
.main-container{
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
}
.main-center{
    background-color: var(--bodyMidColor);
    padding: 0px;
    border: 0px;
    margin: 0px;
}
/* Main content media query start*/
@media screen and (min-width: 900px){
    .main-left, .main-right{
        flex-grow: 1;
        background-color:var(--bodySideColor);
        padding: 0px;
        border: 0px;
        margin: 0px;
        min-height: 100vh;
        border-bottom:50px var(--bodySideColor) solid;
    }
    .main-center{
        width: 900px;
        border-bottom:50px  var(--bodyMidColor) solid;
    }

}
@media screen and (max-width: 899px){
    .main-center{
        width: 100%;
        border-bottom:50px  var(--bodyMidColor) solid;
    }
}
/* Main content media query End*/
/*Navbar*/
.navbar-container{
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
}
.navbar-center{
    background-color: var(--headerMidColor);
    height:6rem;
    padding: 0px;
    border: 0px;
    margin: 0px;
    display:flex;
    align-items: center;
    justify-content: left;
}
.logo{
    border-radius:100%;
    height: 75px;
    margin-left: 20px;
}
.name{
    margin-left: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color:  var(--navBarTextColor);
}
.nav-left-container{
    display:flex;
    align-self:center;
    align-items:center;
}
.nav-right-container
{
    display: flex;
    justify-self: end;  
    margin-left: auto;
    margin-right: 20px;
    font-size: 25px;
    font-family: "Abel", sans-serif;
    color: var(--navBarTextColor);
}
.nav-button{
    margin-left:5px;
    margin-right:5px;
    font-size: 25px;
    font-family: "Abel", sans-serif;
    color: var(--navBarTextColor);
    text-decoration: none; 
}
.nav-button:hover{
    color: #9C51FF;
}
/* navbar media query start*/
@media screen and (min-width: 900px){
    .navbar-left, .navbar-right{
        background-color:var(--headerSideColor);
        height:6rem;
        padding: 0px;
        border: 0px;
        margin: 0px;
        flex-grow: 1;
    }
    .navbar-center{
        width: 900px;
    }
}

@media screen and (max-width: 899px){
    .navbar-left{
        background-color: var(--headerSideColor);
        height:6rem;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 0%;
    }
    .navbar-center{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .navbar-right{
        background-color: var(--headerSideColor);
        height:6rem;
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 0%;
    }
    .nav-left-container{
        padding: 0px;
        border: 0px;
        margin: 0px;
    }
    .nav-right-container{
        align-items:center;
        padding: 0px;
        border: 0px;
        margin: 0px;
    }
    h1{
        padding: 5px;
        border: 5px;
        margin: 5px;
    }
}
/* navbar media query end*/

/*Content Container*/
.content-container {
    display: flex;
    font-family: "Abel", sans-serif;
    font-size:3vh;
    color:  var(--textColor);
}
.text-header{
    font-size:50px;
}
.about {
    grid-area: menu;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:70%;
    margin:25px;
}
.self-portrait {
    grid-area: main;
    align-self: center;
    border-radius: 15%;
    margin: 50px;
    width:30%;
    height:auto;
}
.text-body{
    margin-top:0px;
    font-size: 30px;
}
.projects{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    align-content:center;
}
.project-container{
    background-color: var(--headerMidColor);
    width:250px;
    height:200px;
    border-radius:15%;
    display:flex;
    margin:10px;
    padding-bottom:20px;
    flex-direction:column;
}
.project-text{
    align-self:center; 
    font-size:35px;
    color: var(--navBarTextColor);
    margin:5px;
}
.project-image{
    align-self:center;
    width:90%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin:auto;
}
@media screen and (max-width: 899px){
    .project-container{
        width: 80%;
        height:250px;
    }
}
.stack-container{
    display:inline-flex;
    justify-content:center;
    margin-bottom:25px;
    flex-wrap: wrap;
}
.stack{
    background-color: var(--headerMidColor);
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:25px;
    margin:5px;
    float: left;
    color: var(--navBarTextColor);
}
.email-button{
    background-color: var(--headerMidColor);
    color: var(--textColor);
    align-self:center;
    font-family: "Abel", sans-serif;
    font-size:25px;
    width:80px;
    margin:5px;
    border-radius:15px;
    border:none;
}
.email-button:hover{
    color: white;
}
.email-button:active{
    background-color: var(--headerSideColor);
}
@media screen and (max-width: 899px){
    .content-container{
        flex-direction:column;
    }
    .about{
        width: 100%
    }
    .self-portrait{
        width: 70%;
    }
    .projects{
        flex-direction:column;
    }
}
.footer-main{
    display:flex;
}
.footer-center{
    height:40px;
    background-color: var(--headerMidColor);
}
.footer-left{
    height:40px;
    background-color: var(--headerSideColor);
}
.footer-right{
    height:40px;
    background-color: var(--headerSideColor);
}
@media screen and (min-width: 900px){
    .footer-left, .footer-right{
        flex-grow: 1;
    }
    .footer-center{
        width:900px;
    }
}
@media screen and (max-width: 899px){
    .footer-center{
        width: 100%;
    }
}